<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
                        <!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="//zhihanli666.github.io/ZhihanLi/">Home</a></li>
                                <li><a href="//zhihanli666.github.io/ZhihanLi/">About</a></li>
                                <li><a href="//www.google.com/">Research</a></li>
                                <li><a href="/Contact/index">Contact</a></li>
                                <li><a href="Electronics appetizer.index.html">Electronics appetizer</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://zhihanli666.github.io/ZhihanLi/">Zhihan Li</a></li>
				</ul>
			</footer>
		</body>
	</html>
